


<h2>Add Student Info</h2>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
<table>
   <tr>
        <td>RollNo</td>
  <td>  <input formControlName="RollNo"></td>
  </tr> 
  <tr>
    <td>FirstName</td>
  <td>  <input formControlName="FirstName"></td>
  </tr>
  <tr>
    <td>LastName</td>
      <td><input formControlName="LastName"></td>
  </tr>
  <tr>
    <td>Subject</td>
  <td><input formControlName="Subject"></td>
  </tr>
  <tr>
    <td>
      <button>Submit</button>
      <button (click)="onFormModify()">Update</button>
    </td>
  </tr>
</table>

</form>

<h2>SearchInfoById</h2>
<input type="number" #id>
<input type="button" value="Search" (click)="GetInfoById(id.value)" >
<table >
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Subject</th>

  </tr>
  <tr>
    <td>{{InfoById.RollNo}}</td>
    <td>{{InfoById.FirstName}}</td>
    <td>{{InfoById.LastName}}</td>
    <td>{{InfoById.Subject}}</td>
  </tr>
</table>

<h2>All Students Info</h2>
<table>
  <tr>
    <th>Id</th>
        <th>FirstName</th>
    <th>LastName</th>
    <th>Subject</th>

  </tr>
  <tr *ngFor="let s of StudentInformation">
    <td>{{s.RollNo}}</td>
    <td>{{s.FirstName}}</td>
    <td>{{s.LastName}}</td>
    <td>{{s.Subject}}</td>
    <td><button (click)="onFormUpdate(s)">Update</button><td>
    <td><button (click)="OnDelete(s.RollNo)">Delete</button><td>

  </tr>
</table>