<h2>Add Student Info</h2>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
<table>
   <tr>
        <td>RollNo</td>
  <td>  <input formControlName="RollNo"></td>
  </tr> 
  <tr>
    <td>FirstName</td>
  <td>  <input formControlName="FirstName"></td>
  </tr>
  <tr>
    <td>LastName</td>
      <td><input formControlName="LastName"></td>
  </tr>
  <tr>
    <td>Subject</td>
  <td><input formControlName="Subject"></td>
  </tr>
  <tr>
    <td>
      <button>Submit</button>
      <button (click)="onFormModify()">Update</button>
    </td>
  </tr>
</table>

</form>


<h2>All Students Info</h2>
<table>
  <tr>
    <th>Id</th>
        <th>FirstName</th>
    <th>LastName</th>
    <th>Subject</th>

  </tr>
  <tr *ngFor="let s of StudentInformation">
    <td>{{s.RollNo}}</td>
    <td>{{s.FirstName}}</td>
    <td>{{s.LastName}}</td>
    <td>{{s.Subject}}</td>
    <td><button (click)="onFormUpdate(s)">Update</button><td>
  </tr>
</table>